<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="login.css" rel="stylesheet" type="text/css">
<link rel="icon" href="weblogo.ico" type="image/x-icon">
<link rel="shortcut icon" href="weblogo.ico" type="image/x-icon">
<title>Login Justice League</title>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script type="text/javascript">
	/*<![CDATA[*/
	var app = angular.module('app', []);
	app.controller('MainController', function($rootScope, $scope, $http) {
		$scope.message = '';
		$scope.account = '';
		$scope.password = '';

		//登录
		$scope.login = function() {
			$scope.message = '';
			$http(
					{
						url : '/loginPost',
						method : 'POST',
						headers : {
							'Content-Type' : 'application/x-www-form-urlencoded'
						},
						data : 'account=' + $scope.account + '&password='
								+ $scope.password
					}).success(function(r) {
				if (!r.success) {
					$scope.message = r.message;
					return;
				}
				window.location.href = '/JL';
			});
		}

	});

	/*]]>*/
</script>
</head>
<body ng-app="app" ng-controller="MainController">
	<aside>
		<img alt="logojustice" src="/logojustice.png" id="logo">
	</aside>
	<section>
	<div id = "d">
	<h1>登录您的账户来加入我们</h1>
	<table cellspacing="1" style="background-color: #a0c6e5">
		<tr>
			<td>账号：</td>
			<td><input ng-model="account" id = "input1" /></td>
		</tr>
		<tr>
			<td>密码：</td>
			<td><input type="password" ng-model="password" id = "input2" /></td>
		</tr>
	</table>
	<input type="button" value="登录" ng-click="login()" id = "but"/>
	<br />
	<font color="red" ng-show="message">{{message}}</font>
	<br />
	</div>
	</section>
	<aside id = "jl">
	</aside>
</body>
</html>